* {
    box-sizing: border-box;
}
 body {
    display: flex;
    flex-direction: column;
    background-color: black;
        align-items: center;

 }
h1 {
    border: 3px solid blue;
    color: red;
    width: 40%;
    text-align: center;
    border-radius: 5px;
}

#gameWrapper {
  position: relative;
  width: 80vw;
  height: 80vh;
  overflow: hidden;
  background: linear-gradient(
    120deg,
    #050214,
    #0b1d3a,
    #1b2a4e,
    #050214
  );
  background-size: 400% 400%;
  animation: spaceMove 20s ease infinite;

}
@keyframes spaceMove {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

#game-wrapper::before,
#game-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    radial-gradient(4px 4px at 20% 30%, white 50%, transparent 51%),
    radial-gradient(4px 4px at 80% 70%, white 50%, transparent 51%),
    radial-gradient(4px 4px at 50% 10%, white 50%, transparent 51%);
  opacity: 0.4;
  animation: stars 60s linear infinite;
}

#game-wrapper::after {
  animation-duration: 120s;
  opacity: 0.2;
}

@keyframes stars {
  from { transform: translateY(0); }
  to   { transform: translateY(100px); }
}




#game {
position:absolute;
background: transparent;
}
